html {
  height: 100%;
}

body {
  background: linear-gradient(90deg, #69b7eb, #42b49b, #74acd0);
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}
body header {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.main-cont {
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.main-cont .main-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-cont .main-inner aside {
  width: 100%;
}
.main-cont .main-inner aside img {
  margin: 0 auto;
  width: 100%;
  max-width: 10em;
  height: auto;
}
.main-cont .main-inner .count-container {
  margin: calc(10px + 20px);
}
.main-cont .main-inner .count-container h4 {
  font-size: 1.3em;
  color: #7952B3;
}
.main-cont .main-inner .count-container #setQ {
  padding: 6px 10px;
  font-size: 1em;
}
.main-cont .main-inner .count-container #setQbtn {
  position: relative;
  display: inline-block;
  padding: 9.5px 14px;
  color: #02760f;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
  border: none;
}
.main-cont .main-inner .count-container #setQbtn:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
}
.main-cont .main-inner article {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-cont .main-inner article .items-column {
  margin: 2em;
  border: none;
}
.main-cont .main-inner .result-area {
  width: 100%;
  margin: calc(10px + 100px);
}
.main-cont .main-inner .result-area .result-container, .main-cont .main-inner .result-area .final-result-container {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 80%;
  min-height: 200px;
  margin: 0 auto;
}
.main-cont .main-inner .result-area .result-container .result, .main-cont .main-inner .result-area .final-result-container .result {
  font-size: 2em;
}
.main-cont .main-inner .result-area .result-container .show-container, .main-cont .main-inner .result-area .final-result-container .show-container {
  display: flex;
  justify-content: space-evenly;
}
.main-cont .main-inner .result-area .result-container .show-container div h4, .main-cont .main-inner .result-area .final-result-container .show-container div h4 {
  margin: 10px;
}
.main-cont .main-inner .result-area .result-container .show-container div button, .main-cont .main-inner .result-area .final-result-container .show-container div button {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.resBtn {
  position: relative;
  display: inline-block;
  padding: 9.5px 14px;
  color: #02760f;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
  border: none;
}

.resBtn:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
}

.g-btn:hover {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ef8f6e;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #FFC107;
  }
}
.items-column {
  background-color: inherit;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.items-column span, .items-column img {
  font-size: 4em;
}

.win {
  background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
}

.lose {
  background: linear-gradient(90deg, #ee5c87, #f1a4b5, #d587b3);
}

.draw {
  background: linear-gradient(90deg, #cfecd0, #ffc5ca);
}

.times-to-play-show {
  margin: 10px;
}

@media screen and (max-width: 860px) {
  .main-cont .main-inner article {
    width: 80%;
    flex-wrap: wrap;
  }

  .main-cont .main-inner article .items-column {
    margin: 1%;
    border: none;
  }

  .main-cont .main-inner .count-container #setQbtn {
    margin: 10px;
  }

  .main-cont .main-inner .count-container #setQ {
    width: 80%;
    margin: 10px auto;
  }
}

/*# sourceMappingURL=sass.css.map */
